.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chat-messages{
  /* position: absolute; */
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 0.1vh;
  padding-top: 0.1vh;
  text-align: justify;
  bottom:     0;
  max-height: 55vh;
}

.chat-box{
  overflow:   scroll;
  position:   relative;
  width:      25vw;
  height:     55vh;
 /* flex-direction: column-reverse; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
