body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#snackbar-wrap {
  min-height: 60px;
  position: relative;
}

#snackbar {
  position: absolute;
}

.snackbar-message {
  display: 'flex';
  vertical-align: 'center';
}

.snackbar-icon {
  size: 20;
}

#game-view {
  background: #222;
  color: #fff;
  height: 500px;
  margin: 15px auto;
  width: 700px;
}

#message-input {
  background: #eee;
  padding: 20px;
}

#video-wrapper {
  position: relative;
}

#video-wrapper-local {
  display: inline;
  position: relative;
  bottom: 0;
}

#video-wrapper-received {
  display: inline;
  position: relative;
  width: 100%;
}

video {
  height: auto !important;
}

  video#local-video {
    border: solid 2px #fff;
    bottom: 0;
    position: absolute;
    margin: 20px;
    width: 150px !important;
    z-index: 10;
  }

  video#received-video {
    width: 100%;
  }
